body{
    background-image: url("../img/pattern.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px #383838;
}
header{
    background-color: #10426e;
    text-align: center;
    padding: 1rem;
    color: white;
    border-bottom: 2px solid black;
}
nav{
    background-color: #001726;
    padding: 1rem;
}
nav > ul{
    margin: 0;
}
nav > ul > li{
    float: left;
    list-style: none;
    text-decoration: none;
    margin-left: .5rem;
    margin-right: .5rem;
}
nav > ul > li > a{
    color: white;
    text-decoration: none;
}
.clearfix{
    float: none;
    clear: both;
}
aside{
    width: calc(25% - 20px);
    padding: 10px;
    min-height: 1000px;
    background-color: #FFE3CA;
    float: left;
}
main{
    width: calc(75% - 20px);
    padding: 10px;
    min-height: 1000px;
    background-color: #F6F5F5;
    float: left;
}
footer{
    background-color: #001726;
    color: white;
    padding: .5rem;
    text-align: center;
}
.caja{
    width: calc(50% - 44px);
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    float: left;
}